<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Orlando_GarageApplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AddEditFavoriteGarageActivity"
            android:label="Add/Edit Favorite Garage" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ReportByWeekActivity"
            android:label="Report By Week" />
        <activity
            android:name=".activities.ReportByDayActivity"
            android:label="Report By Day" />
        <activity
            android:name=".activities.ReportActivity"
            android:label="Select Report Type" />
        <activity
            android:name=".activities.SearchGarageActivity"
            android:label="Search Raw Data" />
        <activity
            android:name=".activities.FavoriteGarageActivity"
            android:label="Favorite Garages List" />
        <activity
            android:name=".activities.SelectMoreOptionsActivity"
            android:label="More Options" />
        <activity android:name=".DialogFlowChatActivity" />
    </application>

</manifest>